!!! 5
html
  head
    title Bootstrap 101 Template
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    <!-- Latest compiled and minified CSS -->
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css")
    <!-- Latest compiled and minified JavaScript -->
    script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js")
    script(src="/app.js")
  body
    .container
      header.header
        p.lead OS X Wifi Volume Remote
      div
        input.js-volume(type="text")
      div
        input.js-volume(type="range", min="-1", max="100", step="1")
      div
        button.btn.btn-default.js-quickset 10
        button.btn.btn-default.js-quickset 25
        button.btn.btn-default.js-quickset 33
        button.btn.btn-default.js-quickset 50
      div
        button.btn.btn-default.js-quickset 66
        button.btn.btn-default.js-quickset 75
        button.btn.btn-default.js-quickset 90
        button.btn.btn-default.js-quickset 100
      div
        button.btn.btn-danger.js-mute Mute
        button.btn.btn-success.js-unmute Unmute
