doctype html
html
  head
    title Mac Volume
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="apple-touch-icon", sizes="144x144", href="apple-touch-icon-144.png")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")

    link(rel="stylesheet", href="style.css")
    script(src="app.js")

  body
    input.js-real-volume(type="range", min="0", max="1", step="0.01")
    input.js-set-volume(type="range", min="0", max="1", step="0.01")
